html, body {
    background-color: #FADED2; 
    color: #79313B;
}

.disk {
    width: 170px;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 1;
    left: 2;
    z-index: 1;
    margin-left: 110px;
    margin-top: -10px;
    animation-name: spin;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.cover {
    width: 175px; 
    height: auto;
    position: absolute;
    top: 6px;  
    left: 15px;
    z-index: 2; 
    margin-top: 22px;
    margin-left: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-left: 57%;
    margin-top: 40px;
    font-family: 'Julee';
}

.song-info {
    margin-left: 57%;
}


.add-songs {
    background-color: #55768C;
    width: 100%;
    height: auto;  /* Change to auto so it expands with content */
    display: flex;
    flex-direction: column;  /* Stack elements vertically */
    justify-content: center;  
    align-items: center;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}

.add-songs-heading {
    text-align: center;
    color: #ffb393;
    margin-bottom: 10px;
    font-size: 20px; 
}


.input-link {
    background-color: #FADED2;
    width: 80%;  /* Make it take more space */
    max-width: 400px; /* Limit width on larger screens */
    padding: 8px;
    border: 1px solid gray;
    text-align: center;
}


.buttons {
    display: flex;
    align-items: center; /* Center horizontally */
    margin-top: 90%;
    margin-bottom: 5%;
    margin-right: 20px;
    margin-left: 80%;
    transition: 0.4s;
}

.end {
    width: 100%; 
    height: 30px;
    border-radius: 20px;
    border: 3px solid #c9122b;
    background-color: #c9122b;
    color: #FCE5D8;
    font-family: 'Agdasima-Bold';
    font-size: 15px;
    box-shadow: 5px 5px 20px #79313B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.end:hover {
    background-color: #FCE5D8;
    color: #c9122b;
}

.popup1 {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup1-content {
    height: 150px;
    width: 560px;
    background: #FADED2;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}


.popup1-content-heading {
    font-family: 'Agdasima';
    color:#5f2c33;
    font-size: 32px;
    text-align: center;
    margin: auto;
}


.yes, .no {
    width: 70px; 
    height: 30px;
    border-radius: 20px;
    border: 3px solid #79313B;
    background-color: #79313B;
    color: #FCE5D8;
    font-family: 'Agdasima-Bold';
    font-size: 23px;
    box-shadow: 5px 5px 20px #79313B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    cursor: pointer;
    gap: 10px;
}

.exit {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center horizontally */
    gap: 6px;
    margin-top: 6px;
    margin-bottom: 100px;
    transition: 0.4s;    
}

.yes:hover {
    background-color: #FCE5D8;
    color: #79313B;
}

.no:hover {
    background-color: #FCE5D8;
    color: #79313B;
}


@media only screen and (max-width: 600px) {
    .disk {
        width: 100px;
        margin-left: 50px;
        margin-top: -10px;
    }
    
    .cover {
        width: 103px;
        margin-top: 23px;
        margin-left: 1px;
    }
    
    h1 {
        margin-left: 57%;
        margin-top: 40px;
        font-family: 'Julee';
    }
    
    .song-info {
        margin: auto;
    }
    
    .end {
        height: 50px;
    }

    .popup1-content {
        height: 200px;
    }

    .buttons {
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    .disk {
        width: 350px;
        margin-left: 156px;
        margin-top: -10px;
    }
    
    .cover {
        width: 350px;
        margin-top: 23px;
        margin-left: 1px;
    }
    
    h1 {
        margin-left: 53%;
        margin-top: 40px;
        font-family: 'Julee';
        font-size: 70px;
    }
    .song-info {
        margin-top: 1%;
    }
    
    .end {
        height: 50px;
    }

    .popup1-content {
        height: 200px;
    }

    .buttons {
        text-align: center;
    }

    .add-songs {
        margin-top: 155px;
        height: fit-content;
    }
    
    .add-songs-heading {
        text-align: center;
        color: #ffb393;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 30px;
    }
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


@font-face {
    font-family: 'Julee';
    src: url('/fonts/Julee-Regular.ttf');
    font-family: 'ABeeZee';
    src: url('/fonts/ABeeZee-Regular.ttf');
    font-family: 'Agdasima';
    src: url('/fonts/Agdasima-Regular.ttf');
    font-family: 'Agdasima-Bold';
    src: url('/fonts/Agdasima-Bold.ttf');
}
