html, body {
    background-color: #FADED2; 
    color: #79313B;
    font-family: 'Agdasima', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    font-family: 'Agdasima', cursive;
    font-size: 30px;
    margin: auto;
    padding-top: 3%;
    color: #FADED2;
    text-shadow: 5px 5px 5px #6a564d;
}

h1 {
    text-align: center;
    font-family: 'Julee', cursive;
    font-size: 60px;
    margin-top: 1%;
    color: #FADED2;
    text-shadow: 5px 5px 5px #6a564d;

}

.container1 {
    background-image: url(/images/BG1.png);
    background-size: contain; /* Ensures the width fits without stretching height */
    background-position: top center; /* Centers the image at the top */
    background-repeat: no-repeat; /* Prevents repetition */
    width: 550px; /* Full width */
    height: 400px; /* Adjust height based on design preference */
    padding: 10px 0;
    margin: auto;
}


.container2 {
    width: 370px;  /* Adjust width */
    height: 50px; /* Adjust height */
    background-color: #fccbb5; /* Background color */
    border-radius: 50px; /* Makes the box oval */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #79313B;
    text-align: center;
    font-family: 'Agdasima-Bold';
    margin-top: -170px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: larger;
}


.tutorial {
    font-family: 'Agdasima';
    width: 550px;
    height: 400px;
    margin: auto;
}

.circle1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    background-color: #55768C;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
    margin-top: 6%;
    margin-bottom: auto;
    margin-right: auto;
    box-shadow: 5px 5px 20px #dc97a5;
}

.ll1 {
    width: auto;
    height: auto;
    color:#71222d;
}

.circle2 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #dc97a5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 56%;
    margin-top: -10%;
    margin-bottom: auto;
    margin-right: auto;
    box-shadow: 5px 5px 20px #79313B;
}

.ll2 {
    width: 130px;
    height: auto;
}

.circle3 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #b83556;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-top: -2%;
    margin-bottom: auto;
    margin-right: 50%;
    box-shadow: 5px 5px 20px #55768C;
}

.ll3 {
    width: 130px;
    height: auto;
    color:#5f2c33
}

.circle4 {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #55768C;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-top: -4%;
    margin-bottom: auto;
    margin-right: 13%;
    box-shadow: 5px 5px 20px #dc97a5;
}

.ll4 {
    width: auto;
    height: auto;
    color:#71222d;
}

.circle5 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #dc97a5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 16%;
    margin-top: -10%;
    margin-bottom: 10%;
    margin-right: auto;
    box-shadow: 5px 5px 20px #79313B;
}

.buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center horizontally */
    gap: 10px; /* Space between buttons */
    margin-top: 250px;
    margin-bottom: 100px auto;
    transition: 0.4s;
}


.create, .join {
    width: 200px; 
    height: 60px;
    border-radius: 40px;
    border: 3px solid #79313B;
    background-color: #79313B;
    color: #FCE5D8;
    font-family: 'Agdasima-Bold';
    font-size: 25px;
    box-shadow: 5px 5px 20px #79313B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.create:hover {
    background-color: #FCE5D8;
    color: #79313B;
}

.join:hover {
    background-color: #FCE5D8;
    color: #79313B;
}

.popup1 {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup1-content {
    height: 360px;
    width: 560px;
    background: #FADED2;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.note-icon {
    margin-right: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 60px;
    height: 60px;
}

.exit-icon1, .exit-icon2 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px rgba(0, 0, 0, 0.75);
    cursor: pointer;

}

.popup1-content-heading {
    font-family: 'Agdasima';
    color:#5f2c33;
    font-size: 40px;
    text-align: center;
    margin-top: -20px;
}

.popup1-content-text {
    font-family: 'Agdasima';
    color:#5f2c33;
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
}

input {
    margin: 20px auto;
    display: block;
    width: 40%;
    padding: 8px;
    border: 1px solid gray;
}


.popup2 {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup2-content {
    height: 360px;
    width: 560px;
    background: #FADED2;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.popup2-content-text {
    font-family: 'Agdasima';
    color:#5f2c33;
    font-size: 20px;
    text-align: center;
    margin: auto;
}


.credits {
    background-color: #dc97a5;
    width: 550px; /* Full width */
    height: 90px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-family: 'Agdasima';
    background-position: bottom-center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}


@font-face {
    font-family: 'Julee';
    src: url('/fonts/Julee-Regular.ttf');
    font-family: 'ABeeZee';
    src: url('/fonts/ABeeZee-Regular.ttf');
    font-family: 'Agdasima';
    src: url('/fonts/Agdasima-Regular.ttf');
    font-family: 'Agdasima-Bold';
    src: url('/fonts/Agdasima-Bold.ttf');
}
